/* 
* Variables and optional mixins, written in SCSS.
* Examples taken from http://sass-lang.com/guide
*
*/

$grey: #3d3c3c;
$lightgrey: #696868;
$whitegrey: #dcdddb;
$blackgrey: #3d3c3c;
$greyfooter: #464646;
$h1size: 28px;
$h2size: 18px;
$aupper: 18px;
$psize: 14px;
$font-regular: 'Karla-Regular', sans-serif;
$font-bold: 'Karla-Bold', sans-serif;
$font-italic: 'Karla-Italic', sans-serif;
$font-bolditalic: 'Karla-Bolditalic', sans-serif;
